.song-item {
  display: flex;
  justify-content: space-between;
  height: 53px;
  .main {
    display: flex;
    align-items: center;
    // 以下两行可以自适应宽度，ellipsis可以正常工作
    min-width: 0;
    flex-grow: 1;
    .main-left {
      width: 45px;
      line-height: 53px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      flex-shrink: 0;
    }
    .main-right {
      // 以下两行可以自适应宽度，ellipsis可以正常工作
      min-width: 0;
      flex-grow: 1;
      padding-right: 5px;
      // 下架
      .off-the-shelf {
        color: rgba(0, 0, 0, 0.2) !important;
      }
      > .title {
        font-size: 14px;
        .alias {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      > .info {
        font-size: 12px;
        display: flex;
        align-items: center;
        > .iconfont {
          color: #fd393a;
          font-size: 20px;
          padding-right: 3px;
        }
        > .icon-VIP {
          font-size: 19px;
        }
        > .icon-SQ {
          font-size: 18px;
        }
        > .artist-album-name {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  > .right {
    display: flex;
    > .icon-mv1 {
      font-size: 23px;
      width: 35px;
      line-height: 53px;
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
    }
    > .icon-more {
      font-size: 16px;
      width: 35px;
      line-height: 53px;
      text-align: center;
      padding-right: 15px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
