.palyer-volume {
  width: 100%;
  .volume-controller {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    .icon-laba1 {
      font-size: 15px;
      margin-right: 10px;
      color: rgba(255, 255, 255, 0.5);
    }
    .slider-wrapper {
      flex-grow: 1;
      min-width: 0;
    }
  }
}
