.player-circle-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  .circle-cover-img-wrapper {
    img {
      width: 230px;
      height: 230px;
      border-radius: 50%;
    }
  }
}
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotateClockwise 25s linear infinite;
}
