.playlist-header {
  height: 55px;
  background-color: rgba(0, 0, 0, 0.2); //这里应该是歌曲的background-image
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  .title {
    width: 230px;
  }
  > i.iconfont {
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .icon-fanhui {
    font-size: 25px;
  }
  .icon-sousuo {
    font-size: 20px;
  }
  .icon-more {
    font-size: 20px;
  }
}
