.playlist-info {
  position: relative;
  overflow: hidden;
  padding: 55px 0 15px;
  > .playlist-info-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    transition: background-image 0.5s;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  .playlist-info-main {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    .playlist-cover-img-wrapper {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
    }
    .playlist-info-main-right {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .playlist-title {
        font-weight: 700;
        color: #fff;
      }
      .playlist-creator {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);
        > img.avatar {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          flex-shrink: 0;
        }
        > span {
          font-size: 14px;
          padding: 0 5px;
        }
        > .icon-gengduo {
          font-size: 12px;
        }
      }
      .playlist-desc {
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > p {
          padding-right: 5px;
        }
        > .icon-gengduo {
          font-size: 12px;
        }
      }
    }
  }
  .playlist-options {
    padding: 10px 0 15px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35px;
      > span {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .icon-pinglun {
      font-size: 21px;
    }
    .icon-fenxiang {
      font-size: 20px;
    }
    .icon-xiazai {
      font-size: 22px;
    }
    .icon-duoxuan {
      font-size: 21px;
    }
  }
}
