.player-controller {
  .slider-control {
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    .slider-wrapper {
      width: 70%;
      margin: 0 5px;
    }
  }
  .play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    .iconfont {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.8);
    }
    .play-mode {
      .iconfont {
        font-size: 23px;
      }
    }
    .icon-shangyiqu {
      font-size: 23px;
    }
    .play-pause {
      .iconfont {
        font-size: 50px;
        color: #fff;
      }
    }
    .icon-xiayiqu {
      font-size: 23px;
    }
    .icon-caidan2 {
      font-size: 23px;
    }
  }
}
