.scroll {
  // 只有overflow: scroll生效，div.scroll才能监听到scroll事件
  height: 100%;
  overflow: scroll;
  position: relative;
  .pulldown-refresh {
    position: fixed;
    top: 0px;
    transform: translateY(-110%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;

    .icon-wrapper {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      position: relative;
      > img {
        position: absolute;
        width: 100%;
      }
    }
  }
  .refresh-tips {
    position: fixed;
    transform: translateY(-110%);
    width: 100%;
    text-align: center;
    z-index: 9999;
    > span {
      display: inline-block;
      padding: 5px 13px;
      font-size: 12px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      transition: transform 0.4s;
    }
  }
  .pullup-load {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 9999;
    > img {
      width: 14px;
    }
    > span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      padding-left: 6px;
    }
  }
}
