.player-header {
  height: 55px;
  padding: 0 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-fanhui {
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .icon-fenxiang {
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .info {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-width: 0;
    padding: 6px 10px;
    box-sizing: border-box;
    .name {
      font-weight: bold;
      height: 22px;
    }
    .artists-wrapper {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      .artists {
        font-size: 12px;
      }
      .icon-gengduo {
        font-size: 12px;
      }
    }
  }
}
