.new-songs-albums-recommend {
  .header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    .header-left {
      color: #6e6e6e;
      .date {
        font-size: 12px;
        color: #6e6e6e;
      }
      .tabs {
        font-weight: bold;
        .dividing-line {
          border-right: 1px solid #6e6e6e;
          margin: 0 10px;
          display: inline-block;
          height: 20px;
          vertical-align: bottom;
        }
        .active {
          color: #000;
        }
      }
    }
    .header-right {
      font-size: 12px;
      padding: 3px 10px;
      align-self: flex-end;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid #e0e0e0;
        border-radius: 30px;
        transform-origin: 0 0;
        transform: scale(0.5 0.5);
        z-index: -1;
      }
    }
  }
  .swiper-area-wrapper {
    position: relative;
    .swiper-container {
      width: 375px;
      padding: 15px;
      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 185px;
        }
      }
    }
    .item-info {
      width: 345px;
      display: flex;
      border-radius: 6px;
      z-index: 15;
      .item-cover-img {
        width: 55px;
        height: 55px;
        border-radius: 6px;
        flex-shrink: 0;
      }
      .item-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding-left: 10px;
        .item-desc {
          width: 220px;
          .title {
            font-size: 14px;
          }
          .artists {
            font-size: 12px;
            color: #707070;
          }
        }
      }
    }
    .albums-show {
      position: absolute;
    }
    .songs-show {
      position: absolute;
      .item-play-status {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .svg-play {
          width: 25px;
        }
        .icon-laba {
          font-size: 20px;
          color: #ff0000;
        }
      }
    }
  }
}
