.drawer {
  position: relative;
  z-index: 9999;
  .drawer-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .drawer-content {
    position: fixed;
  }
  .drawer-top {
    top: 0;
    left: 0;
    right: 0;
  }
  .drawer-bottom {
    bottom: 0;
    left: 0;
    right: 0;
  }
  .drawer-left {
    left: 0;
    top: 0;
    bottom: 0;
  }
  .drawer-right {
    right: 0;
    top: 0;
    bottom: 0;
  }
}
