.playlist-detail {
  .playlist-detail-nav {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
    border-radius: 20px 20px 0 0 / 15px 15px 0 0;
    background-color: #fff;
    z-index: 20;
    margin-top: -20px;
    position: sticky;
    top: 55px;
    > .playlist-play-all {
      display: flex;
      align-items: center;
      height: 35px;
      > .icon-bofang6 {
        font-size: 20px;
        transform: translateY(1.5px);
      }
      > span {
        &:nth-of-type(1) {
          padding-left: 10px;
          font-size: 14px;
        }
        &:nth-of-type(2) {
          color: #777676;
          font-size: 13px;
        }
      }
    }
    > .subscribe-btn {
      flex-shrink: 0;
      padding: 10px 13px;
      border-radius: 30px;
      background-color: #fe3a3b;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      > .icon-jiahao {
        font-size: 10px;
        transform: translateY(1px);
      }
      > span {
        padding-left: 5px;
      }
    }
  }
  .playlist-detail-songs {
    .icon-laba {
      color: #fe3a3b;
      font-size: 18px;
    }
  }
  .playlist-detail-subscribers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 53px;
    .avatar-list {
      display: flex;
      width: 220px;
      .avatar {
        flex-shrink: 0;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: bottom;
      }
    }
    .subscribed-count {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
