.verification-code-input {
  display: flex;
  justify-content: space-around;
  input {
    width: 30px;
    position: absolute;
    opacity: 0;
  }
  label {
    width: 180px;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 17px;
      font-weight: 700;
      position: relative;
      width: 33px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      @keyframes coruscate {
        0% {
          opacity: 0;
        }
        25% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      // 闪烁的竖线
      &.coruscate-animated::before {
        animation: coruscate 2s ease infinite;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 20%;
        width: 1px;
        height: 60%;
        background-color: #333;
      }
      // 下方的横线
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #aaa;
        display: block;
        transform: scaleY(0.5);
        transform-origin: 0 50%;
      }
    }
  }
}
