.album-show-swiper {
  .swiper-container {
    padding: 15px;
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 185px;
        .item-info {
          width: 95%;
          display: flex;
          border-radius: 6px;
          z-index: 15;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
          .item-cover-img {
            width: 55px;
            height: 55px;
            border-radius: 6px;
            flex-shrink: 0;
          }
          .item-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            padding: 0 10px;
            .item-desc {
              width: 220px;
              .title {
                font-size: 14px;
              }
              .artists {
                font-size: 12px;
                color: #707070;
              }
            }
          }
        }
      }
    }
  }
}
