.dialog {
  position: relative;
  z-index: 11000;
  .dialog-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .dialog-content {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
}
