.mini-player {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }

  .main {
    display: flex;
    align-items: center;
    padding: 0 5px;
    flex-grow: 1;
    min-width: 0;
    .album-img-wrapper {
      width: 38px;
      height: 38px;
      flex-shrink: 0;
      .album-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
    }
    .info {
      flex-grow: 1;
      min-width: 0;
      height: 50px;
      padding: 6px 8px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        font-size: 14px;
        height: 19px;
      }
      .lyrics {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .options {
    display: flex;
    justify-content: space-between;
    .play-btn {
      position: relative;
      height: 40px;
      svg {
        width: 40px;
        height: 40px;
        fill: none;
        stroke-dasharray: 255%;
        stroke-dashoffset: 255%;
        transform: rotate(-90deg);
      }
      > .iconfont {
        position: absolute;
        font-size: 40px;
        left: 0;
        top: 0;
      }
    }
    .icon-caidan2 {
      font-size: 25px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      margin: 0 3px 0 8px;
    }
  }
}
