.Find {
  padding-top: 10px;
  .find-nav {
    width: 345px;
    margin: 13px auto 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 65px;
      i {
        font-size: 28px;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 100%;
        // background-image: linear-gradient(to right, rgba(255, 58, 58, 0.8), #fd1d11);
        background-image: linear-gradient(to right, #f87266, #fd1d11);
        color: #fff;
      }
      i.icon-paihangbang {
        font-size: 22px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .hotwall-nav {
    width: 345px;
    margin: 13px auto 0;
  }
}
