.find {
  width: 100%;
  height: 100%;
  .find-slider {
    padding-top: 10px;
    height: 134px;
  }
  .find-nav {
    padding: 13px 15px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 65px;
      i {
        font-size: 28px;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        background-image: linear-gradient(to right, #f87266, #fd1d11);
        color: #fff;
      }
      i.icon-paihangbang {
        font-size: 22px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .hotwall-nav-wrapper {
    width: 345;
    height: 85px;
    padding: 13px 15px 0;
  }
  .recommend-nav {
    .playlist-recommend-wrapper {
      margin-top: 10px;
      height: 200px;
    }
    .scene-recommend-wrapper {
      height: 200px;
    }
  }
}
