.player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .player-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .player-masking-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  .player-cover-lyrics-wrapper {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 150px;
    .player-circle-cover-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-self: center;
    }
    .player-lyrics-scroll-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .player-lyrics-wrapper {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .player-controller-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    width: 100%;
  }
}
